<%- include('partials/header.ejs') %> 
    <style>
        input{
            margin-bottom: 15px;
        }
    </style>
    <body>
        <div class="container">
            <h1>Cadastro de Consulta</h1>
            <hr>
            <form action="create" method="POST">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <input type="text" name="name" id="name" placeholder="Nome do Paciente" class="form-control">
                        <input type="email" name="email" id="email" placeholder="email@email.com" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control">
                        <input type="text" name="description" id="description" placeholder="Descrição" class="form-control">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <input type="date" name="date" id="date" placeholder="Data" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="time" name="time" id="time" placeholder="Horário" class="form-control">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-12">
                        <input type="text" name="attendant" id="attendant" placeholder="Doutor" class="form-control">
                        <button class="btn btn-success btn-block">Agendar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <%- include('partials/footer.ejs') %> 
    <script>
        $('#cpf').mask('000.000.000-00');
    </script>
</html>