<%- include('partials/header.ejs') %> 
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>
</body>
<script>

    var element = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(element,{
        initialView: 'dayGridMonth',
        locale: 'pt-br',
        expandRows: true,
        events: 'calendar',
        titleFormat :{
            month: 'long',
            year: 'numeric',
            day: 'numeric',
        },
        eventDidMount: function (info) {
            if (info.event.extendedProps.status === 'done') {

                // Change background color of row
                info.el.style.backgroundColor = 'red';

                // Change color of dot marker
                var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];
                if (dotEl) {
                dotEl.style.backgroundColor = 'white';
                }
            }
        }
    });
    calendar.render();
</script>
</html>