<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    <link rel="stylesheet" href="../node_modules/fullcalendar/main.css">
    <script rel="stylesheet" href="../node_modules/fullcalendar/main.js"></script>
</head>
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>
</body>
<script>

    var element = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(element,{
        initialView: 'dayGridMounth'
    })
</script>
</html>