<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Chat</h1>
        <div id="chat">

        </div>
        <hr>
        <input type="text" id="msg"><br>
        <input type="text" id="user" placeholder="Digite seu usuário">
        <button id="send" onclick="enviar()">Enviar</button>
    </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script>
            var socket = io("http://192.168.7.51:3000");

            socket.on("showmsg",(data)=>{
                appendmsg(data.msg);
            });

            function enviar(){
                let msg = document.getElementById("msg");
                let user = document.getElementById("user");

                socket.emit("newmsg",{ 
                    msg:msg.value,
                    username:user.value
                });
                msg.value = "";
                user.value = "";
            }

            function appendmsg(msg){
                let chat = document.getElementById("chat");
                let pTag = document.createElement("p");
                pTag.innerHTML = msg
                chat.append(pTag)
            }

        </script>
</html>