<%- include ("partials/header.ejs")%>
<body>
    <%- include ("partials/navbar.ejs")%>
    <div class="container">
        <div class="card" id="form_perguntas">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Titulo</label>
                    <input type="text" name="titulo" id="" placeholder="Titulo" class="form-control"><br>
                    <label>Descrição</label>
                    <textarea name="descricao" id="" cols="30" rows="10" placeholder="Descreva a pergunta" class="form-control"></textarea><br>
                    <button class="btn btn-dark">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ("partials/footer.ejs")%>